@using Desapegando.Business.Models.Enums;
@model Desapegando.Application.ViewModels.ProdutoViewModel
@{
    Layout = "_Layout";
}


<section class="pt-5 pb-9">
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="container-small px-0">
        <div class="content">
            <form enctype="multipart/form-data" class="mb-9" method="post">
                <div class="row g-3 flex-between-end mb-5">
                    <div class="col-auto">
                        <h2 class="mb-2">Adicionar produto</h2>
                        <h5 class="text-700 fw-semi-bold">Adicione um produto para desapegar!</h5>
                    </div>
                    <div class="col-auto">
                        <button asp-action="Criar" asp-controller="Produto" class="btn btn-primary mb-2 mb-sm-0" type="submit">Salvar produto</button>
                    </div>
                </div>
                <h4 class="mb-3">Nome do Produto</h4>
                <div class="row g-5">
                    <div class="col-12 col-xl-8">
                        <input asp-for="Nome" class="form-control mb-5" type="text" placeholder="Escreva o nome aqui..." />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                        <div class="mb-6">
                            <h4 class="mb-3">Descrição do Produto</h4>
                            <textarea asp-for="Descricao" type="text" class="tinymce" name="Descricao" data-tinymce='{"height":"15rem","placeholder":"Escreva a descrição aqui..."}'></textarea>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="mb-6">
                            <h4 class="mb-3">Adicionar Imagens</h4>
                            <input type="file" name="ImagensUpload" multiple />
                            <span asp-validation-for="ImagensUpload" class="text-danger"></span>
                        </div>

                        @*                            <div class="dropzone dropzone-multiple p-0 mb-5" id="my-awesome-dropzone" data-dropzone="data-dropzone" data-options='{"url":"Index/Produto"}'>
                        <div class="fallback">
                        <input type="file" multiple="multiple" />
                        </div>
                        <div class="dz-preview d-flex flex-wrap">
                        <div class="border bg-white rounded-3 d-flex flex-center position-relative me-2 mb-2" style="height:80px;width:80px;"><img class="dz-image" src="~/public/assets/img/products/23.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" /><a class="dz-remove text-400" href="#!" data-dz-remove="data-dz-remove"><span data-feather="x"></span></a></div>
                        </div>
                        <div class="dz-message text-600" data-dz-message="data-dz-message">
                        Drag your photo here<span class="text-800">or</span>
                        <button class="btn btn-link p-0" type="button">Browse from device</button><br /><img class="mt-3 me-2" src="~/public/assets/img/icons/image-icon.png" width="40" alt="" />
                        <span asp-validation-for="ImagensUpload" class="text-danger"></span>
                        </div>
                        </div>*@
                        <h4 class="mb-3">Informações do Produto</h4>
                        <div class="row g-0 border-top border-bottom border-300">
                            <div class="col-sm-4">
                                <div class="nav flex-sm-column border-bottom border-bottom-sm-0 border-end-sm border-300 fs--1 vertical-tab h-100 justify-content-between" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center active" id="pricingTab" data-bs-toggle="tab" data-bs-target="#pricingTabContent" role="tab" aria-controls="pricingTabContent" aria-selected="true">
                                        <span class="me-sm-2 fs-4 nav-icons" data-feather="tag"></span>
                                        <span class="d-none d-sm-inline">Preço</span>
                                    </a>
                                    <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center" id="restockTab" data-bs-toggle="tab" data-bs-target="#restockTabContent" role="tab" aria-controls="restockTabContent" aria-selected="false">
                                        <span class="me-sm-2 fs-4 nav-icons" data-feather="package"></span>
                                        <span class="d-none d-sm-inline">Quantidade</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="tab-content py-3 ps-sm-4 h-100">
                                    <div class="tab-pane fade show active" id="pricingTabContent" role="tabpanel">
                                        <h4 class="mb-3 d-sm-none">Pricing</h4>
                                        <div class="row g-3">
                                            <div class="col-12 col-lg-6">
                                                <h5 class="mb-2 text-1000">Preço</h5>
                                                <input asp-for="Preco" class="form-control" type="text" placeholder="$$$" />
                                                <span asp-validation-for="Preco" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade h-100" id="restockTabContent" role="tabpanel" aria-labelledby="restockTab">
                                        <div class="d-flex flex-column h-100">
                                            <h5 class="mb-3 text-1000">Quantidade</h5>
                                            <div class="row g-3 flex-1 mb-4">
                                                <div class="col-sm-7">
                                                    <input asp-for="Quantidade" class="form-control" type="number" placeholder="Quantidade" />
                                                    <span asp-validation-for="Quantidade" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="row g-2">
                            <div class="col-12 col-xl-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Organização</h4>
                                        <div class="row g-3">
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="mb-4">
                                                    <div class="d-flex flex-wrap mb-2">
                                                        <h5 class="mb-0 text-1000 me-2">Categoria</h5>
                                                    </div>
                                                    <select asp-for="Categoria" class="form-select" asp-items="@Html.GetEnumSelectList<Categoria>()">
                                                        <option selected="" value="">Selecione</option>
                                                    </select>
                                                    <span asp-validation-for="Categoria" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="mb-4">
                                                    <div class="d-flex flex-wrap mb-2">
                                                        <h5 class="mb-0 text-1000 me-2">Estado do Produto</h5>
                                                    </div>
                                                    <select asp-for="EstadoProduto" class="form-select" asp-items="@Html.GetEnumSelectList<EstadoProduto>()">
                                                        <option selected="" value="">Selecione</option>
                                                    </select>
                                                    <span asp-validation-for="EstadoProduto" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
</section>

@section Scripts{
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/public/vendors/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/public/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/public/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="~/public/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/public/vendors/tinymce/tinymce.min.js"></script>
    <script src="~/public/vendors/dropzone/dropzone.min.js"></script>
    <script src="~/public/vendors/choices/choices.min.js"></script>
}