@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-soft-danger alert-dismissible fade show" role="alert">
        <h3 style="padding-top: 20px">Opa! Algo deu errado :(</h3>
        <div style="padding-top: 20px" asp-validation-summary="ModelOnly" ></div>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



@*Verificar design das divs abaixo*@

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        <h3 id="msgRetorno">@ViewBag.Sucesso</h3>
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-soft-success alert-dismissible fade show" role="alert">
        <strong>Sucesso!</strong> @Html.Raw(TempData["Sucesso"].ToString())

        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}