@using Desapegando.Business.Models.Enums;
@model Desapegando.Application.ViewModels.FiltrarCampanhaViewModel

@{
    var listaCampanhas = ViewBag.Campanhas;
}
@{
    Layout = "_Layout";
}

<section class="pt-5 pb-9">
    <div class="container">
        <button class="btn btn-sm btn-phoenix-secondary text-700 mb-5 d-lg-none" data-phoenix-toggle="offcanvas" data-phoenix-target="#productFilterColumn"> <span class="fa-solid fa-filter me-2"></span>Filtro</button>
        <div class="row">
            <div class="col-lg-3 col-xxl-2 ps-2">
                <div class="product-filter-offcanvas bg-soft scrollbar phoenix-offcanvas phoenix-offcanvas-fixed" id="productFilterColumn">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="mb-0 ms-1">Filtros</h3>
                        <button class="btn d-lg-none p-0" data-phoenix-dismiss="offcanvas"><span class="uil uil-times fs-0"></span></button>
                    </div><a class="btn px-0 ms-1 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseAvailability" role="button" aria-expanded="true" aria-controls="collapseAvailability">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <div class="fs-0 text-1000">Nome</div><span class="fa-solid fa-angle-down toggle-icon text-500"></span>
                        </div>
                    </a>
                    <form method="post">
                        <div class="collapse ms-1 show" id="collapseAvailability">
                            <div class="mb-2">
                                <div class="form mb-0 p-0">
                                    <div class="mb-2">
                                        <div class="mb-3 text-start">
                                            <input asp-for="Nome" class="form-control" placeholder="Nome" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn px-0 ms-1 d-block collapse-indicator" data-bs-toggle="collapse" href="#collapseCondition" role="button" aria-expanded="true" aria-controls="collapseCondition">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="fs-0 text-1000">Nome da Instituição</div><span class="fa-solid fa-angle-down toggle-icon text-500"></span>
                            </div>
                        </a>
                        <div class="collapse ms-1 show" id="collapseCondition">
                            <div class="mb-2">
                                <div class="form mb-0 p-0">
                                    <div class="mb-2">
                                        <div class="mb-3 text-start">
                                            <input asp-for="NomeInstituicao" class="form-control" placeholder="Nome da Instituição" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button asp-action="Campanhas" asp-controller="Campanha" class="btn btn-phoenix-primary border-300 px-3" type="submit">Pesquisar</button>
                    </form>
                </div>
                <div class="phoenix-offcanvas-backdrop d-lg-none" data-phoenix-backdrop></div>
            </div>
            <div class="col-lg-9 col-xxl-10">
                <div class="row gx-3 gy-6 mb-8">
                    @foreach (var campanha in listaCampanhas)
                    {
                        <div class="col-12 col-sm-6 col-md-4 col-xxl-2">
                            <div class="product-card-container h-100">
                                <div class="position-relative text-decoration-none product-card h-100">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <div>
                                            <div class="border border-1 rounded-3 position-relative mb-3">
                                                @*  <button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist">
                                            <span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span>
                                            </button><img class="img-fluid" src="~/Imagens/@campanha.CampanhaImagemViewModels[0].FileName" alt="" />*@
                                                <img src="~/Imagens/@campanha.CampanhaImagemViewModels[0].FileName" alt="" height="212.38px" width="212.38px" />
                                            </div><a class="stretched-link text-decoration-none" asp-action="Visualizar" asp-controller="Campanha" asp-route-id="@campanha.Id">
                                                <h6 class="mb-2 lh-sm line-clamp-3 product-name">@campanha.Nome</h6>
                                            </a>
                                            <p class="fs--1">
                                                <span class="text-500 fw-semi-bold ms-1">Local de Encontro: @campanha.LocalDeEncontro</span>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">Instituição: @campanha.NomeInstituicao</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-end">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>

                </div>
            </div>
        </div>
    </div>

    <!-- end of .container-->

</section>

@section Scripts{
    <link href="~/public/vendors/choices/choices.min.css" rel="stylesheet" />
    <script src="~/public/vendors/choices/choices.min.js"></script>
}



