@using Desapegando.Business.Models.Enums;
@model Desapegando.Application.ViewModels.UpdateCampanhaViewModel
@{
    Layout = "_Layout";
}


<section class="pt-5 pb-9">
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="container-small px-0">
        <div class="content">
            <form enctype="multipart/form-data" class="mb-9" method="post">
                <div class="row g-3 flex-between-end mb-5">
                    <div class="col-auto">
                        <h2 class="mb-2">Editar campanha</h2>
                        <h5 class="text-700 fw-semi-bold">Edite sua campanha!</h5>
                    </div>
                    <div class="col-auto">
                        <button asp-action="Editar" asp-controller="Campanha" class="btn btn-primary mb-2 mb-sm-0" type="submit">Salvar campanha</button>
                    </div>
                </div>
                <h4 class="mb-3">Nome da Campanha</h4>
                <div class="row g-5">
                    <div class="col-12 col-xl-8">
                        <input asp-for="Nome" class="form-control mb-5" type="text" placeholder="Escreva o nome aqui..." />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                        <h4 class="mb-3">Nome da Instituição</h4>
                        <input asp-for="NomeInstituicao" class="form-control mb-5" type="text" placeholder="Escreva o nome aqui..." />
                        <span asp-validation-for="NomeInstituicao" class="text-danger"></span>

                        <div class="mb-6">
                            <h4 class="mb-3">Descrição da Campanha</h4>
                            <textarea asp-for="Descricao" type="text" class="tinymce" name="Descricao" data-tinymce='{"height":"15rem","placeholder":"Escreva a descrição aqui..."}'></textarea>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="mb-6">
                            <h4 class="mb-3">Adicionar Imagens</h4>
                            <input type="file" name="ImagensUpload" multiple />
                            <span asp-validation-for="ImagensUpload" class="text-danger"></span>
                        </div>

                        @*                            <div class="dropzone dropzone-multiple p-0 mb-5" id="my-awesome-dropzone" data-dropzone="data-dropzone" data-options='{"url":"Index/Produto"}'>
                        <div class="fallback">
                        <input type="file" multiple="multiple" />
                        </div>
                        <div class="dz-preview d-flex flex-wrap">
                        <div class="border bg-white rounded-3 d-flex flex-center position-relative me-2 mb-2" style="height:80px;width:80px;"><img class="dz-image" src="~/public/assets/img/products/23.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" /><a class="dz-remove text-400" href="#!" data-dz-remove="data-dz-remove"><span data-feather="x"></span></a></div>
                        </div>
                        <div class="dz-message text-600" data-dz-message="data-dz-message">
                        Drag your photo here<span class="text-800">or</span>
                        <button class="btn btn-link p-0" type="button">Browse from device</button><br /><img class="mt-3 me-2" src="~/public/assets/img/icons/image-icon.png" width="40" alt="" />
                        <span asp-validation-for="ImagensUpload" class="text-danger"></span>
                        </div>
                        </div>*@
                        <h4 class="mb-3">Informações do Produto</h4>
                        <div class="row g-0 border-top border-bottom border-300">
                            <div class="col-sm-4">
                                <div class="nav flex-sm-column border-bottom border-bottom-sm-0 border-end-sm border-300 fs--1 vertical-tab h-100 justify-content-between" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center active" id="pricingTab" data-bs-toggle="tab" data-bs-target="#pricingTabContent" role="tab" aria-controls="pricingTabContent" aria-selected="true">
                                        <span class="me-sm-2 fs-4 nav-icons" data-feather="tag"></span>
                                        <span class="d-none d-sm-inline">Data de Vigência</span>
                                    </a>
                                    <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center" id="restockTab" data-bs-toggle="tab" data-bs-target="#restockTabContent" role="tab" aria-controls="restockTabContent" aria-selected="false">
                                        <span class="me-sm-2 fs-4 nav-icons" data-feather="package"></span>
                                        <span class="d-none d-sm-inline">Dados Responsável</span>
                                    </a>
                                    <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center" id="shippingTab" data-bs-toggle="tab" data-bs-target="#shippingTabContent" role="tab" aria-controls="shippingTabContent" aria-selected="false">
                                        <span class="me-sm-2 fs-4 nav-icons" data-feather="sliders"></span>
                                        <span class="d-none d-sm-inline">Status da Campanha</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="tab-content py-3 ps-sm-4 h-100">
                                    <div class="tab-pane fade show active" id="pricingTabContent" role="tabpanel">
                                        <h4 class="mb-3 d-sm-none">Data de Vigência</h4>
                                        <div class="row g-3">
                                            <div class="col-12 col-lg-6">
                                                <h5 class="mb-2 text-1000">Data Início</h5>
                                                <input asp-for="DataInicio" class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                                <span asp-validation-for="DataInicio" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <h5 class="mb-2 text-1000">Data Final</h5>
                                                <input asp-for="DataFinal" class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                                <span asp-validation-for="DataFinal" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade h-100" id="restockTabContent" role="tabpanel" aria-labelledby="restockTab">
                                        <div class="d-flex flex-column h-100">
                                            <h5 class="mb-3 text-1000">Informações do Responsável</h5>
                                            <div class="row g-3">
                                                <div class="col-12 col-lg-12">
                                                    <h5 class="mb-2 text-1000">Nome do Responsável</h5>
                                                    <input asp-for="NomeResponsavel" class="form-control" type="text" placeholder="Nome do Responsável" />
                                                    <span asp-validation-for="NomeResponsavel" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row g-3 mt-2">
                                                <div class="col-12 col-lg-6">
                                                    <h5 class="mb-2 text-1000">Telefone do Responsável</h5>
                                                    <input asp-for="TelefoneResponsavel" class="form-control" type="text" placeholder="Telefone do Responsável" />
                                                    <span asp-validation-for="TelefoneResponsavel" class="text-danger"></span>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <h5 class="mb-2 text-1000">E-mail do Responsável</h5>
                                                    <input asp-for="EmailResponsavel" class="form-control" type="text" placeholder="E-mail" />
                                                    <span asp-validation-for="EmailResponsavel" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade h-100" id="shippingTabContent" role="tabpanel" aria-labelledby="shippingTab">
                                        <div class="d-flex flex-column h-100">
                                            <h5 class="mb-3 text-1000">Status da Campanha</h5>
                                            <div class="flex-1">
                                                <div class="form-check">
                                                    <input asp-for="Ativo" class="form-check-input" id="vendaCheck" type="checkbox" />
                                                    <label class="form-check-label text-900 fs-0" for="vendaCheck">Disponível</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="row g-2">
                            <div class="col-12 col-xl-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Organização</h4>
                                        <div class="row g-3">
                                            <div class="col-12 col-sm-6 col-xl-12">
                                                <div class="mb-4">
                                                    <div class="d-flex flex-wrap mb-2">
                                                        <h5 class="mb-0 text-1000 me-2">Local de Encontro</h5>
                                                    </div>
                                                    <input asp-for="LocalDeEncontro" class="form-control" type="text" placeholder="Local de Encontro" />
                                                    <span asp-validation-for="LocalDeEncontro" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
</section>

@section Scripts{
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/public/vendors/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/public/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/public/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="~/public/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/public/vendors/tinymce/tinymce.min.js"></script>
    <script src="~/public/vendors/dropzone/dropzone.min.js"></script>
    <script src="~/public/vendors/choices/choices.min.js"></script>
}